<%= render 'shared/category_nav' %>
<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">A Warm Welcome!</h1>
    <p class="lead">Welcome to <i>Ozzy and Dez' Pet Store! We carry a large selection of pet products for all of your needs.</i></p>
    <a href="#" class="btn btn-primary btn-lg">Explore</a>
  </header>

  <!-- Page Features -->
  <h4 class="text-center">Featured Items</h4>
  <div class="row text-center">
  	<% Product.all.limit(4).each do |product| %>
		<div class="col-lg-3 col-md-6 mb-4">
	      <div class="card">
	        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
	        <div class="card-body">
	          <h4 class="card-title"><%= product.name %></h4>
	          <p class="card-text"><%= truncate product.description, length: 75 %></p>
	          <h5><%= product.price.format %></h5>
	        </div>
	        <div class="card-footer">
	        	<div class="btn-group">
	        		<%= link_to 'More', product_path(product), class: 'btn btn-primary btn-sm' %>
	        		<%= link_to 'Add to Cart', product_path(product), class: 'btn btn-success btn-sm' %>
	        		<%= link_to 'Favorite', 'javascript:alert("Not yet implemented.")', class: 'btn btn-info btn-sm' %>
	        	</div>
	        </div>
	      </div>
	    </div>
  	<% end %>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->