
<div class="container">
	<h1><%= pluralize(@order.cart_items.count, 'items') %> in cart.</h1>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Item</th>
				<th>Quantity</th>
				<th>Unit Price</th>
				<th>Line Total</th>
			</tr>
		</thead>

		<tbody>
			<% @order.cart_items.each do |item| %>
				<tr>
					<td><%= item.product.name %></td>
					<td><%= item.qty %></td>
					<td><%= item.product.price.format %></td>
					<td><%= item.line_total.format %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= render 'coupon_form', order: @order %>
	<p>SUBTOTAL: <%= @order.subtotal %></p>
	<p>DISC. TOTAL: <%= @order.discount_total %></p>
	<p>TOTAL: <%= @order.total %></p>
</div>