<%= render 'shared/category_nav' %>
<div class="container">
	<h1><%= @category.name %></h1>
	<p class="lead"><%= @category.description %></p>
	<hr>
	<div class="row">
		<% if @category.products.empty? %>
			<p class="lead">This category does not have any products.</p>
		<% else %>
			<div class="card-deck">
				<% @category.products.each do |product| %>

					<div class="card">
						<h5 class="card-header"><%= product.name %></h5>
						<% if product.images.any? %>
				      		<img class="card-img-top img-fluid"  src="<%= url_for(product.images.first.variant(resize: "200x200")) %>" alt="">
				      	<% else %>
				      		<img class="card-img-top img-fluid" src="http://placehold.it/200x200" alt="">
				      	<% end %>
						
						<div class="card-body">
							<p><%= truncate(product.description, length: 50) %></p>
							<p><%= product.price.format %></p>
							<%= link_to 'Details', product_path(product), class: 'btn btn-primary btn-sm' %>
						</div>
					</div>
				
			<% end %>
			</div>
			
		<% end %>
	</div>
</div>

